<% include head.ejs%>
<div class="container table-responsive" id="agenda">
	<table class="table table-hover table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Horario</th>
                    <th>Aluno</th>
                    <th>Titulo do Trabalho</th>
                    <th>Orientador</th>
                    <th>Coorientador</th>
                    <th>Banca 1</th>
                    <th>Banca 2</th>
                    <th>Local</th> 
                  
                </tr>
            </thead>
            <% for (let i=0; i < defesa.length; i++){ %>
                <tr>
                    <td><%= defesa[i].dataDefesa.getDate() %>-<%= defesa[i].dataDefesa.getMonth()+1 %>-<%= defesa[i].dataDefesa.getFullYear() %></td>
                    <td><%= defesa[i].horario%></td>
                    <td><%= defesa[i].nomeAluno %></td>
                    <td><%= defesa[i].tituloTrabalho %></td>
                    <td><%= defesa[i].orientador %></td>
                    <td><%= defesa[i].coorientador %></td>
                    <td><%= defesa[i].banca1 %></td>
                    <td><%= defesa[i].banca2 %></td>
                    <td>Sala: <%= defesa[i].local %></br>
                        Predio:<%= defesa[i].predio %></td>
                </tr>
            <% } %>		
	</table>
</div>
<% include foot.ejs%>
